@use '../../styles/variables.scss' as *;
@use '../../styles/typography.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-24;
}

.headerFilled {
  background-color: $color-gray;
}

.logo {
  position: absolute;
  top: -75%;
  left: $space-24;
}

.navbar {
  display: flex;
  gap: $space-48;

  @media (max-width: 768px) {
    display: none;
  }
}

.link {
  @include text-menu;
  color: $text-white;
  cursor: pointer;

  &:hover {
    color: $color-pink;
  }

  @media (max-width: 1000px) {
    font-size: $font-size-body;
  }
}

.disabledLink {
  color: $color-gray;
  pointer-events: none;
  cursor: default;
}