@use '../../styles/variables.scss' as *;
@use '../../styles/typography.scss' as *;

.container {
  position: relative;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.icon {
  font-size: 32px;
  background: none;
  border: none;
  color: $text-white;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: black;
  padding: $space-24;
  display: flex;
  flex-direction: column;
  gap: $space-24;
  z-index: 1000;
}

.link {
  @include text-menu;
  color: $text-white;
  text-decoration: none;
  margin: 0;
  font-size: $font-size-body;
  line-height: normal;

  &:hover {
    color: $color-pink;
  }
}

.disabledLink {
    color: $color-gray;
    pointer-events: none;
    cursor: default;
  }
