@use '../../styles/variables.scss' as *;
@use '../../styles/typography.scss' as *;

.gridSection {
  padding: 4rem 2rem;
  background-color: $color-gray; 

  @media (max-width: 768px) {
    padding: 3rem 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 4rem;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    gap: 1rem 2rem;
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: block;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 380px;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
}

.thumbnail {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
