@use '../../styles/variables.scss' as *;
@use '../../styles/typography.scss' as *;

.footer {
  background-color: $color-bg;
  padding: $space-32;
}

.heading {
  font-size: 4rem;

  @media (max-width: 540px) {
    font-size: 3rem;
  }

  @media (max-width: 450px) {
    font-size: 2.5rem;
  }
}

.flexWrapper {
  display: flex;
  gap: $space-32;
}

.contact {
  padding: $space-32 0;
}

.contactHeading {
  @include text-menu;

  @media (max-width: 450px) {
    font-size: 2rem;
  }
}

.icons {
  padding: 64px;
  padding-right: 0;

  @media (max-width: 450px) {
    padding-left: $space-24;
  }
}

.copyright {
  color: $text-white;
}
