// === Font weights ===
$font-bold: 700;

// === Font Families ===
$font-sans: 'IBM Plex Sans', sans-serif;
$font-mono: 'IBM Plex Mono', monospace;

// === Font Weights ===
$weight-bold: 700;

// === Font Sizes ===
$font-size-body: 18px;
$font-size-menu: 36px;
$font-size-heading: 98px;

// === Line Heights ===
$line-height-48: 48px; // TODO consider deletion!

// colors
$color-bg: #a9bcff;
$color-pink: #ff3dc5;
$color-green: #0fffc7;
$color-blue: #5d93ff;
$color-gray: #a6a6a6;

// font colors
$text-black: #000;
$text-white: #fff;

// Spacing
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-32: 32px;
$space-48: 48px;
$space-96: 96px;
